<%- include("../partials/head", { title: "All Dinosaur" }) %>
    <%- include("../partials/header") %>
        <%- include("../partials/nav") %>

            <div class="parent_card">
                <% Dinosaurs.forEach((Dinosaur) => { %>
                <div class="card">
                    <h2><%= Dinosaur.getName() %></h2>
                </div>
                <% }) %>
            </div>

            <%- include("../partials/footer") %>