<%- include("../partials/head", { title: "All Dinosaur" }) %>
    <%- include("../partials/header") %>
        <%- include("../partials/nav") %>

            <div class="parent_card">
                <% Dinosaurs.forEach((Dinosaur)=> { %>
                    <div class="card">
                        <h2><a href="/dinosaur/<%= Dinosaur.getId() %>">
                                <%= Dinosaur.getName() %>
                            </a></h2>
                        <p>
                            <%= Dinosaur.getDescription() %>
                        </p>
                    </div>
                    <% }) %>
            </div>

            <%- include("../partials/footer") %>